@import url('variables.css');
@import url('section-form.css');
@import url('section-ticket.css');
@import url('media.css');

/*
*************
RESET
*************
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*************
COMMON
*************
*/

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 52.5rem;
    margin: 2.5rem auto 3.125rem;
}

h2, 
h4:not(#passenger_name) {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: #fff;
    margin: 1.5625rem 0 .3125rem;
}

.form_container, 
.ticket_container {
    background-color: #fff;
    padding: 1.5625rem 1.25rem 1.25rem;
}
